<!DOCTYPE html>
<html>
<head>
	<title><%= @title_browser.present? ? "#{@title_browser} - Seshat" : "Seshat" %></title>
 <link rel="stylesheet" type="text/css" href="/assets/application.css">
</link>

<script src="assets/jquery.js"> </script>
<script src="assets/jquery_ujs.js"> </script>

  </head>
<body>
<%= yield %>

</body>
</html>
