<div class="container">
	<div class="fold fold_uno">
		<header>
			<div class="menu">
				<img src="" alt="">
				<ul>
					<li><a href="/">Usuarios</a></li>
					<li><a href="/">Cuentas</a></li>
				</ul>
			</div>
			<div class="connect">
				<ul>
					<li><a href="/">Conectarse</a></li>
					<li><a href="/">Registrarse</a></li>
				</ul>
			</div>
		</header>
		<section>
			<article>
				<h1>Descubre cual es tu paleta preferida.</h1>
				<p>Donec suscipit eu purus facilisis congue. Pellentesque a lectus quis sapien molestie malesuada sed non ex. Integer rhoncus laoreet sollicitudin. Ut vehicula consequat orci, vitae mollis eros pharetra in. Morbi a metus non tellus commodo feugiat. Mauris in metus nulla. Duis turpis velit, tristique ac maximus non, fringilla sed lectus.</p>		
			</article>
			<article class="button_container">
				<a href="/users/new" class="button">Registrarse</a>
			</article>
		</section>

		<div class="bg_effect"></div>
	</div>
	<div class="fold fold_dos">
		<section>
			<h1>¿Cómo funciona?</h1>
			<article>
				<img src="" alt="">
			</article>
			<article>
				<ul>
					<li>Registrese</li>
					<li>Gestione sus clientes</li>
					<li>Mejore sus tiempos de reacción</li>
				</ul>
			</article>
		</section>
	</div>
</div>